body {
  margin: 0px;
  background: #111;
}

.theatre {
  display: flex;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cinema-seats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Added to wrap seats to the next row */
  justify-content: center; /* Center align the grid horizontally */
  
}

.seat {
  width: 35px;
  height: 50px;
  border-radius: 7px;
  background: linear-gradient(
    to top,
    #761818,
    #761818,
    #761818,
    #761818,
    #761818,
    #B54041,
    #F3686A
  );
  margin: 5px; /* Added margin to separate seats */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: skew(20deg);
  margin-top: -32px;
}
